.root {
  max-width: 1125px;
  margin: 0 auto;
}

.pokemonsWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 22px 22px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .'
    '. . .';
  margin: 100px auto 0;
}
